.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  border-radius: 50%;
  height: 350px;
  padding: 50px;
}

.logo-sm{
  border-radius: 50%;
  height: 100px;
  margin-top: 20px;
}

.switch{
  width: 67%;
  margin: 0;
}

.hash{
  width: 67%;
}
.btn{
  min-width: 200px;
  /* animation-fill-mode: both;
  animation-name: fadeInDownSmall;
  animation-duration: 2s; */
}

.App-header {
  background-image: linear-gradient(to bottom right, rgb(125, 48, 172), #e2a3ee);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
